<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- text -->
    <div>
      <input type="text" v-model="message">
      <h2>Hello, {{message}}</h2>
    </div>

    <!-- v-bind && event => v-model -->
    
    <!-- <div>
      /* this === window */
      <input type="text" :value="message" @input="message = $event.target.value">
    </div> -->

    <!-- radio -->
    <div>
      <input type="radio" id="male" value="男" v-model="sex">
      <label for="male">男</label>
      <input type="radio" id="female" value="女" v-model="sex">
      <label for="female">女</label>
      <h2>Selected: {{sex}}</h2>
    </div>

    <!-- checkbox -->
    <div>
      <!-- 单选 -->
      <input type="checkbox" name="agree" id="agree" v-model="isAgree">
      <label for="agree">同意</label>
      <h2>Checked: {{isAgree}}</h2>
      <!-- 多选 -->
      <input type="checkbox" name="hobbies" id="football" value="football" v-model="hobbies">
      <label for="football">足球</label>
      <input type="checkbox" name="hobbies" id="basketball" value="basketball" v-model="hobbies">
      <label for="basketball">篮球</label>
      <input type="checkbox" name="hobbies" id="tennis" value="tennis" v-model="hobbies">
      <label for="tennis">网球</label>
      <input type="checkbox" name="hobbies" id="pingpong" value="pingpong" v-model="hobbies">
      <label for="pingpong">乒乓</label>
      <h2>Hobbies: {{hobbies}}</h2>
    </div>

    <!-- select -->
    <div>
      <!-- 单选 -->
      <select name="fruit" v-model="fruit">
        <option value="apple">苹果</option>
        <option value="banana">香蕉</option>
        <option value="pear">生梨</option>
        <option value="grape">葡萄</option>
      </select>
      <h2>Fruit: {{fruit}}</h2>
      <!-- 多选 -->
      <select name="fruits" v-model="fruits" multiple>
        <!-- 值绑定 -->
        <option v-for="item in originFruits" :value="item">{{item}}</option>
      </select>
      <h2>Fruits: {{fruits}}</h2>
    </div>
  </div>
  <script src="./js/vue.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        message: "Vue.js",
        sex: "男",
        isAgree: false,
        hobbies: [],
        fruit: "banana",
        fruits: [],
        originFruits: ["苹果", "香蕉", "生梨", "葡萄"]
      },
      methods: {
        valueChange(event) {
          this.message = event.target.value;
        }
      },
    });
  </script>
</body>

</html>